*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #010730;
    color: white;
    overflow-x: hidden;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    font-family: 'Outfit', sans-serif;
}

.logo-wrap {
    text-align: center;
    padding: 1em;
}

.logo {
    font-size: 2.25rem;
    color: white;
    font-family: 'Outfit', sans-serif;
}

.logo:hover {
    color: #84d8d8;
    transition: 0.2s;
}

.nav-ul {
    top: 0;
    left: -100%;
    position: fixed;
    background-color: #24225a;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.3s ease;
}

.nav-li {

}

.nav-ul.active {
    left: 0;
    overflow: hidden;
}



.nav-a {
    color: white;
}

.hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    z-index: 4;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.hero {
    text-align: center;
}

.hero h1 {
    margin-bottom: 0.5em;
}

.hero p {
    margin-bottom: 3em;
}

.hero-right {
    overflow: hidden;
}

.hero-right img {
    margin-top: 3em;
}


.circle-one {
    position: absolute;
    right: 0;
    top: 5em;
    bottom: 0;
    user-select: none;
    z-index: -1;
}

.circle-two {
    position: absolute;
    top: 0;
    left: -50px;
    user-select: none;
    z-index: -1;
}

:root {
    --marque-width: 100vw;
    --marque-height: 8vh;
    --marque-elements-displayed: 4;
    --marque-element-width:calc(var(--marque-width)/var(--marque-elements-displayed));
    --marque-animation-duration: calc(var(--marque-elements)*4s);
}

.marque {
    width: var(--marque-width);
    height: var(--marque-height);
    background-color: #2f225a;
    overflow: hidden;
    position: relative;
    user-select: none;
    z-index: -1;
}

.marque-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marque-animation-duration) linear infinite;
    align-items: center;
}

@keyframes scrolling {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(calc(-1*var(--marque-element-width)*var(--marque-elements)));
    }
}

.marque-content li {
    width: var(--marque-element-width);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    white-space: nowrap;
}

.marque-content li img {
    user-select: none;
}


.buy {
    text-align: center;
}

.buy p {
    margin-bottom: 3em;
}

.buy-two {
    text-align: center;
    margin-top: 10em;
}

.buy-two p {
    margin-bottom: 3em;
}

.buy-two img {
    margin-top: 1.5em;

}

.reviews {
    text-align: center;
}

.reviews h1 {
    margin-bottom: 2.5em;
}

.review-title {
    color: #aad9d9;
}

.grid-item {
    background-color: #242251;
    padding: 4em 2em;
    position: relative;
    margin-bottom: 8em;
}

.grid-img {
    position: absolute;
    top: -5.5rem;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    mix-blend-mode: luminosity;
}

.event {
    text-align: center;
}

.event-wrap {
    background: linear-gradient(120deg, #7f7fd6, #9ad5d6);
    padding: 3em;
    border-radius: 37px;
}

.event h1 {
    margin-bottom: 1em;
}

.event .btn {
    background-color: black;
    font-size: 1em;
}

.event .btn:hover {
    background-color: #cc8c2d;
}

.footer {
    font-family: "Outfit", sans-serif;
    margin-top: 5em;
}

.footer-col ul li {
    margin-bottom: 1em;
}

.footer-a {
    color: white;
    font-weight: 200;
}

.footer-col h4 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.25rem;
}

.icons ul {
    display: flex;
}

.icons li {
    margin-right: 1em;
}


.footer-input {
    background-color: #24225a;
    padding: 1em 6rem 1em 1.5em;
    border-radius: 100px;
    border: 0;
    outline: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: white;
}


.footer-btn {
    position: absolute;
    top: 0;
    left: 16em;
}

.news-wrap {
    position: relative;
}

.footer .btn:hover {
    background-color: #cc8c2d;
}

.newsletter h4 {
    margin: 1em 0;
    font-size: 1.25rem;
}

::placeholder {
    color: white;
}

.page-end {
    background: linear-gradient(to right, #9ad5d6, #91d2d2);
    width: 100%;
    height: 1vh;
}

.normalizer > *+* {
    margin-top: 1.25rem;
}
    
/* Animations */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar.bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 3rem;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.115rem;
}


.subheading {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.container {
    max-width: 70em;
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
}

.nav-container {
    max-width: 80em;
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
}

.btn {
    background-color: #7f7fd6;
    color: white;
    padding: 1em 1.5em;
    border-radius: 100px;
}

.ghost {
    background: none;
    border: 2px solid #9ad5d6;
    padding: 1em 1.5em;
    border-radius: 100px;
    color: white;
}

.btn:hover {
    background-color: #7f7fd691;
    transition: 0.3s;
 }
 
 .ghost:hover {
     background-color: #cc8c2d;
     transition: 0.3s;
 }

@media (max-width: 420px) {
    .btn-wrap {
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin-bottom: 1em;
    }
}

@media (min-width: 800px) {
    .split {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .btn-wrap {
        display: flex;
        gap: 4px;
        flex-wrap: nowrap;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-ul {
        position: static;
        flex-direction: row;
        background-color: transparent;
        height: 100%;
        justify-content: flex-end;
    }
    .nav-li {
        font-size: 1.5rem;
        margin-left: 2em;
    }
    .nav-a {
        position: relative;
    }

    .nav-a::before {
        content: '';
        width: 0%;
        position: absolute;
        height: 3px;
        background-color: #cc8c2d;
        bottom: -2px;
        transition: 0.3s ease;
    }
    .nav-a:hover::before {
        width: 100%;
    }

    .hero {
        text-align: left;
    }

    .hero-left {
        width: 40%;
    }

    .h1 {
        font-size: 4.25rem;
        line-height: 1;
    }
}




