*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #010730;
    color: white;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    font-family: 'Outfit', sans-serif;
}

.logo-wrap {
    text-align: center;
    padding: 1em;
}

.logo {
    font-size: 2.25rem;
    color: white;
    font-family: 'Outfit', sans-serif;
}

.logo:hover {
    color: #84d8d8;
}

.nav-ul {
    top: 0;
    left: -100%;
    position: fixed;
    background-color: #24225a;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.3s ease;
}

.nav-li {

}

.nav-ul.active {
    left: 0;
    overflow: hidden;
}

.nav-a {
    color: white;
}

.hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    z-index: 4;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* Animations */
.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar.bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar.bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}





